body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
    text-align: center;
}
.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;   
    background-color: #f8f8f8;
    padding: 10px 20px;
    padding: 2% 6%; 
  }
  
  #logo {
    width: 120px; 
    height: 120px; 
    border-radius: 120%; 
    overflow: hidden; 
    margin-right: 20px; 
    float: left;
    
  }
  
  .navbar a {
    color: #12026d; 
    text-decoration: none; 
    margin-right: 20px;
    height: 20px;
    text-align: center;
  }
  
  .navbar a:hover {
    color: #1CB5E0;
  }

.product-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: left;
}

.product-card img {
    width: 100%;
    height: auto;
    border: none;
}

.product-card h2 {
    margin: 10px 0;
    color: #1c8021;
}

.product-card p {
    margin: 10px 0;
}

button {
    background-color: #009999;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    justify-content:  right;
}

button:hover {
    background-color: #1c8021;
}

.product-card:hover {
    background-color:transparent;
}


.login-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #5cb85c;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#error-message {
    color: red;
    margin-top: 10px;
}

@media (max-width: 1000px) {
    .product-card {
        flex: 1 1 calc(50% - 40px); 
    }
}

@media (max-width: 600px) {
    .product-card {
        flex: 1 1 100%; 
    }
}