body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #ffffff;
    overflow: hidden;
    color: white;
    height: 70;

}

.navbar a {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: rgb(8, 165, 238);
}

#logo {
    width: 120px;
    height: 120px;
    border-radius: 120%;
    overflow: hidden;
    margin-right: 20px;
    float: left;
}

.banner {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.product {
    display: inline-block;
    margin: 20px;
    justify-content: center;
    justify-self: center;
}

.product img {
    width: 530px;
    height: auto;
    justify-content: center;
}

.tarjeta-producto {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 285px;
    margin-right: 52px;
    margin-top: 40px;
    margin-bottom: 10px;
    min-height: 550px;
    max-height: 670px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

}

.tarjeta-producto-imagen {
    max-width: 100%;
    width: 280px;
    background-color: white;
    color: white;
    height: 250px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1), 0 -1px 1px rgba(0, 0, 0, 0.1);

}

.product p {
    font-size: 14px;
}

.product button {
    background-color: black;
    color: white;
    padding: 10px;
}

.promo {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 24px;
    font-weight: bold;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 20px;
}

.product {
    flex-basis: calc(100% / 3 - 40px);
    margin: 20px;
    text-align: center;
}

.product img {
    width: 100%;
}

footer {
    background-color: #000000;
    color: white;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    width: 33%;
}

.footer-section h3 {
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
}

.button {
    background-color: #000000;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.brand img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.brand p {
    margin-top: 10px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.card {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
}

.card img {
    width: 400%;
    justify-content: center;
}

.card h1 {
    margin: 20px 0;
}

.card p {
    color: #666;
}

.container2 {
    width: 80%;
    margin: auto;
}

.product-image {
    width: 100%;
}

.product-info {
    text-align: center;
}

.product-name {
    font-size: 2em;
    color: #333;
    justify-content: center;
}

.product-description {
    color: #777;
}

.shoe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shoe-item {
    background-color: white;
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.shoe-item img {
    width: 100%;
}

.shoe-item p {
    margin: 0;
    font-size: small;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 20px;
}

.product-item {
    background-color: white;
    color: black;
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.product-item img {
    width: 100%;
}

.product-item p {
    margin: 0;
    font-size: small;
}

.ropa-grid {
    display: inline-flex;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
}

.ropa-card {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.ropa-card img {
    width: 50%;
    height: auto;
}

.ropa-card h2 {
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}

.ropa-card p {
    color: #777;
    text-align: center;
}

/* BARRA BUSQUEDA ------------------------------------------------------------------------------*/
.barra-busqueda {
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.form-control {
    flex-grow: 1;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 80%;
    min-width: 700px;
    margin-right: 0;
    min-height: 100%;
}

.form-control:focus {
    outline: none;
    border: 1.8px solid #007bff;
}

.btn {
    padding: 15px 40px;
    background-color: #333;
    border: none;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;

}

.btn:hover {
    background-color: #007bff;
}